@model UserPreferencesViewModel
@{
    ViewBag.Title = "User Preferences";
}

<h3>Please Choose Your Preferences For Random Surprise Recipes</h3>
<br />
<input type="hidden" asp-for="Id"/>
<form asp-controller="Preferences" asp-action="EditPreferencesSaved" method="post" width="600px">
    <div class="form-group">
        <label>Diet</label>
        <select asp-for="@Model.Diet" name="Diet" type="Text" class="form-control">

            <option value="">Choose Your Diet</option>
            <option>Gluten Free</option>
            <option>Ketogenic</option>
            <option>Vegetarian</option>
            <option>Lacto-Vegetarian</option>
            <option>Ovo-Vegetarian</option>
            <option>Vegan</option>
            <option>Pescetarian</option>
            <option>Paleo</option>
            <option>Primal</option>
            <option>Whole30</option>
        </select>
    </div>
    <div class="form-group">
        Select Your Intolerances<br />
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.egg" type="checkbox" class="form-check-input" id="inlineCheckbox1">
            <label class="form-check-label" for="inlineCheckbox1">Egg</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.dairy" type="checkbox" class="form-check-input" id="inlineCheckbox2">
            <label class="form-check-label" for="inlineCheckbox2">Dairy</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.gluton" type="checkbox" class="form-check-input" id="inlineCheckbox3">
            <label class="form-check-label" for="inlineCheckbox3">Gluton</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.grain" type="checkbox" class="form-check-input" id="inlineCheckbox1">
            <label class="form-check-label" for="inlineCheckbox1">Grain</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.peanut" type="checkbox" class="form-check-input" id="inlineCheckbox1">
            <label class="form-check-label" for="inlineCheckbox1">Peanut</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.seafood" type="checkbox" class="form-check-input" id="inlineCheckbox2">
            <label class="form-check-label" for="inlineCheckbox2">Seafood</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.sesame" type="checkbox" class="form-check-input" id="inlineCheckbox3">
            <label class="form-check-label" for="inlineCheckbox3">Sesame</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.shellfish" type="checkbox" class="form-check-input" id="inlineCheckbox1">
            <label class="form-check-label" for="inlineCheckbox1">Shellfish</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.soy" type="checkbox" class="form-check-input" id="inlineCheckbox1">
            <label class="form-check-label" for="inlineCheckbox1">Soy</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.sulfite" type="checkbox" class="form-check-input" id="inlineCheckbox2">
            <label class="form-check-label" for="inlineCheckbox2">Sulfite</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.treeNut" type="checkbox" class="form-check-input" id="inlineCheckbox3">
            <label class="form-check-label" for="inlineCheckbox3">Tree Nut</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Intolerances.wheat" type="checkbox" class="form-check-input" id="inlineCheckbox1">
            <label class="form-check-label" for="inlineCheckbox1">Wheat</label>
        </div>
    </div>
    <div class="form-group">
        <label>Maximum Calories</label>
        <input asp-for="@Model.MaxCalorie" name="MaxCalorie" type="Number" class="form-control">
    </div>
    <div class="form-group">
        <label>Maximum Carbs</label>
        <input asp-for="@Model.MaxCarb" name="MaxCarb" type="Number" class="form-control">
    </div>
    <div class="form-group">
        <label>Maximum Protein</label>
        <input asp-for="@Model.MaxProtein" name="MaxProtein" type="Number" class="form-control">
    </div>
    <div class="form-group">
        <label>Minimum Protein</label>
        <input asp-for="@Model.MinProtein" name="MinProtein" type="Number" class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-primary">Save</button>
</form>