@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RecipeConfirmationInfoViewModel

<h2 class="text-center">@Model.Title</h2>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Summary</h3>
                @Model.Summary
                <h3>Instructions</h3>
                @Model.Instructions
            </div>
            <div class="col">
                <img src="@Model.Image" />
                <h3>Ingredients</h3>
                <ul>
                    @foreach (var ingredient in @Model.ExtendedIngredients)
                    {
                        <li>@ingredient.Amount @ingredient.Unit @ingredient.Name</li>
                    }
                </ul>                
            </div>
        </div>
        <div class="row">
            @if (Model.UserSavedRecipe == true)
            {
                <p>You have already saved this recipe.</p>
            }
            @if (Model.UserSavedRecipe == false)
            {
                <p>Are you sure you would like to save this recipe?</p><br />
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("SaveRecipe", "Home", Model)'">Yes</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Home", Model)'">No</button>
            }
        </div>
    </div>
</body>
