@{
    ViewData["Title"] = "Home Page";
}

@model HomeIndexViewModel

<div style="width:500px;float:left">
    <h2>Recipe of the Day</h2>
    <img src="https://spoonacular.com/recipeImages/1487863-312x231.jpg" width="312" height="231" class="center">

</div>

<div style="width:500px;float:right;text-align:left">
    <h2 class="text-center">Search Recipe</h2>
    <form asp-controller="Home" asp-action="SearchRecipe" method="post">
        <div class="form-group">
            <label>Diet</label>
            <input asp-for="@Model.Diet"name="Diet" type="Text" class="form-control">
        </div>
        <div class="form-group">
            <label>List Intolerances</label>
            <input asp-for="@Model.Intolerances" name="Intolerances" type="Text" class="form-control">
        </div>
        <div class="form-group">
            <label>Maximum Calories</label>
            <input asp-for="@Model.MaxCalorie" name="MaxCalorie" type="Number" class="form-control">
        </div>
        <div class="form-group">
            <label>Maximum Carbs</label>
            <input asp-for="@Model.MaxCarb" name="MaxCarb" type="Number" class="form-control">
        </div>
        <div class="form-group">
            <label>Maximum Protein</label>
            <input asp-for="@Model.MaxProtein" name="MaxProtein" type="Number" class="form-control">
        </div>
        <div class="form-group">
            <label>Minimum Protein</label>
            <input asp-for="@Model.MinProtein"name="MinProtein" type="Number" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
</div>