@{
    ViewData["Title"] = "Home Page";
}

@model HomeIndexViewModel

<div style="width:500px;float:left">
    <h2>Recipe of the Day</h2>
    <img src="https://spoonacular.com/recipeImages/1487863-312x231.jpg" width="312" height="231" class="center">

</div>

<div style="width:500px;float:right;text-align:left">
    <h2 class="text-center">Search Recipe</h2>
    <form asp-controller="Home" asp-action="SearchRecipe" method="post">
        <div class="form-group">
            <label>Diet</label>
            <select asp-for="@Model.Diet" name="Diet" type="Text" class="form-control">
                <option value="">Choose Your Diet</option>
                <option>Gluten Free</option>
                <option>Ketogenic</option>
                <option>Vegetarian</option>
                <option>Lacto-Vegetarian</option>
                <option>Ovo-Vegetarian</option>
                <option>Vegan</option>
                <option>Pescetarian</option>
                <option>Paleo</option>
                <option>Primal</option>
                <option>Whole30</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox1" value="Egg">
                <label class="form-check-label" for="inlineCheckbox1">Egg</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox2" value="Dairy">
                <label class="form-check-label" for="inlineCheckbox2">Dairy</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox3" value="Gluton">
                <label class="form-check-label" for="inlineCheckbox3">Gluton</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox1" value="Grain">
                <label class="form-check-label" for="inlineCheckbox1">Grain</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox1" value="Peanut">
                <label class="form-check-label" for="inlineCheckbox1">Peanut</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox2" value="Seafood">
                <label class="form-check-label" for="inlineCheckbox2">Seafood</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox3" value="Sesame">
                <label class="form-check-label" for="inlineCheckbox3">Sesame</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox1" value="Shellfish">
                <label class="form-check-label" for="inlineCheckbox1">Shellfish</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox1" value="Soy">
                <label class="form-check-label" for="inlineCheckbox1">Soy</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox2" value="Sulfite">
                <label class="form-check-label" for="inlineCheckbox2">Sulfite</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox3" value="Tree Nut">
                <label class="form-check-label" for="inlineCheckbox3">Tree Nut</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances" type="checkbox" class="form-check-input" id="inlineCheckbox1" value="Wheat">
                <label class="form-check-label" for="inlineCheckbox1">Wheat</label>
            </div>
        </div>
        <div class="form-group">
            <label>Maximum Calories</label>
            <input asp-for="@Model.MaxCalorie" name="MaxCalorie" type="Number" class="form-control">
        </div>
        <div class="form-group">
            <label>Maximum Carbs</label>
            <input asp-for="@Model.MaxCarb" name="MaxCarb" type="Number" class="form-control">
        </div>
        <div class="form-group">
            <label>Maximum Protein</label>
            <input asp-for="@Model.MaxProtein" name="MaxProtein" type="Number" class="form-control">
        </div>
        <div class="form-group">
            <label>Minimum Protein</label>
            <input asp-for="@Model.MinProtein" name="MinProtein" type="Number" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
</div>