@{
    ViewData["Title"] = "Home Page";
}

@model HomeIndexViewModel

<div class="shadow p-3 mb-5 bg-white rounded" style="width:540px;float:left;height:auto">
    <h2>Random Surprise Recipe</h2>
    <br />
    <img src="@ViewBag.ImageURL" width="500" height="370" align="left">
    <br />
    <br />
    <h2 >@ViewBag.RecipeName</h2>
    <br />
    @if (User.Identity.IsAuthenticated)
    {
        <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("ConfirmSaveRecipe", "Home", new { id = ViewBag.Id })'">Click For More Info</button>
    }
    else
    {
        <p>Please log in to get more info and to save the recipe</p>
    }
    <br />

</div>

<div class="shadow p-3 mb-5 bg-white rounded" style="width:500px;float:right;text-align:left">
    <h2 class="text-center">Search Recipe</h2>
    <form asp-controller="Home" asp-action="SearchRecipe" method="post">
        <div class="form-group">
            <label>Diet</label>
            <select asp-for="@Model.Diet" name="Diet" type="Text" class="form-control">
                
                <option value="">Choose Your Diet</option>
                <option value="Gluten%20Free">Gluten Free</option>
                <option value="Ketogenic">Ketogenic</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
                <option value="Ovo-Vegetarian">Ovo-Vegetarian</option>
                <option value="Vegan">Vegan</option>
                <option value="Pescetarian">Pescetarian</option>
                <option value="Paleo">Paleo</option>
                <option value="Primal">Primal</option>
                <option value="Whole30">Whole30</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.egg" type="checkbox" class="form-check-input" id="inlineCheckbox1">
                <label class="form-check-label" for="inlineCheckbox1">Egg</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.dairy" type="checkbox" class="form-check-input" id="inlineCheckbox2" >
                <label class="form-check-label" for="inlineCheckbox2">Dairy</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.gluton" type="checkbox" class="form-check-input" id="inlineCheckbox3">
                <label class="form-check-label" for="inlineCheckbox3">Gluton</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.grain" type="checkbox" class="form-check-input" id="inlineCheckbox1">
                <label class="form-check-label" for="inlineCheckbox1">Grain</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.peanut" type="checkbox" class="form-check-input" id="inlineCheckbox1">
                <label class="form-check-label" for="inlineCheckbox1">Peanut</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.peanut" type="checkbox" class="form-check-input" id="inlineCheckbox2">
                <label class="form-check-label" for="inlineCheckbox2">Seafood</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.seafood" type="checkbox" class="form-check-input" id="inlineCheckbox3">
                <label class="form-check-label" for="inlineCheckbox3">Sesame</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.sesame" type="checkbox" class="form-check-input" id="inlineCheckbox1">
                <label class="form-check-label" for="inlineCheckbox1">Shellfish</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.shellfish" type="checkbox" class="form-check-input" id="inlineCheckbox1">
                <label class="form-check-label" for="inlineCheckbox1">Soy</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.soy" type="checkbox" class="form-check-input" id="inlineCheckbox2">
                <label class="form-check-label" for="inlineCheckbox2">Sulfite</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.sulfite" type="checkbox" class="form-check-input" id="inlineCheckbox3">
                <label class="form-check-label" for="inlineCheckbox3">Tree Nut</label>
            </div>
            <div class="form-check form-check-inline">
                <input asp-for="@Model.Intolerances.treeNut" type="checkbox" class="form-check-input" id="inlineCheckbox1">
                <label class="form-check-label" for="inlineCheckbox1">Wheat</label>
            </div>
        </div>
        <div class="form-group">
            <label>Maximum Calories</label>
            <input asp-for="@Model.Intolerances.wheat" name="MaxCalorie" type="Number" class="form-control">
        </div>
        <div class="form-group">
            <label>Maximum Carbs</label>
            <input asp-for="@Model.MaxCalorie" name="MaxCarb" type="Number" class="form-control">
        </div>
        <div class="form-group">
            <label>Maximum Protein</label>
            <input asp-for="@Model.MaxCarb" name="MaxProtein" type="Number" class="form-control">
        </div>
        <div class="form-group">
            <label>Minimum Protein</label>
            <input asp-for="@Model.MaxProtein" name="MinProtein" type="Number" class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>
</div>