@model SavedRecipe

@{
    ViewData["Title"] = "RecipeCalendar";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Meal</th>
            
            <th scope="col">Day1</th>
            <th scope="col">Day2</th>
            <th scope="col">Day3</th>
            <th scope="col">Day4</th>
            <th scope="col">Day5</th>
            <th scope="col">Day6</th>
            <th scope="col">Day7</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Meal 1</th>

            @*<td>@Model.Id, 
            @Model.UserId,
            @Model.RecipeId,
            @Model.CustomeRecipeId,
            @Model.CustomeRecipe
           </td>*@
            
            <td>Day2 Meal 1</td>
            <td>Day3 Meal 1</td>
            <td>Day4 Meal 1</td>
            <td>Day5 Meal 1</td>
            <td>Day6 Meal 1</td>
            <td>Day7 Meal 1</td>
        </tr>
        <tr>
            <th scope="row">Meal 2</th>
            
            <td>Day1 Meal 2</td>
            <td>Day2 Meal 2</td>
            <td>Day3 Meal 2</td>
            <td>Day4 Meal 2</td>
            <td>Day5 Meal 2</td>
            <td>Day6 Meal 2</td>
            <td>Day7 Meal 2</td>
        </tr>
        <tr>
            <th scope="row">Meal 3</th>
            
            <td>Day1 Meal 3</td>
            <td>Day2 Meal 3</td>
            <td>Day3 Meal 3</td>
            <td>Day4 Meal 3</td>
            <td>Day5 Meal 3</td>
            <td>Day6 Meal 3</td>
            <td>Day7 Meal 3</td>
        </tr>
    </tbody>
</table>